html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/dust_scratches.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #14e0ce 0%, #67d47a 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #9abaf7;
    cursor: default;
}

.deck .card.show {
    font-size: 40px;
}

.deck .card.match {
    cursor: default;
    background: #7a37b5;
    font-size: 40px;
    pointer-events: none;
}

.deck .card.preventClick {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#winnerModal {
    display: none;
    z-index: 10;
    position: absolute;
    background-color: #2bddb8;
    border: #19e0ca solid 5px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.results {
    width: 100%;
    height: 100%;
    background: #9abaf7;
    padding: 20px;
}

.close {
    color: black;
    font-size: 50px;
    float: right;
}

.close:hover {
    cursor: pointer;
}

p {
    text-align: center;
}

.timer {
    margin-left: 30%;
}

.congrats {
    font-weight: 600;
    font-size: 20px;
    color: #f6f6f6;
}

.playAgain {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px;
    background-color: #7a37b5;
    color: white;
    font-size: 15px;
    border: #19e0ca solid 2px;
    box-shadow: 6px 4px 9px 1px rgba(46, 61, 73, 0.5);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}


/*////////////// MEDIA queries ////////////// */

@media only screen and (min-width: 200px) and (max-width: 700px){
    .deck {
        width: 80vw;
        min-height: 80vw;
        padding: 20px;
    }

    .deck .card {
        width: 15vw;
        height: 15vw;
    }
}
